<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".DayNightCycleWidgetConfigureActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.DayLighter">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>

        </activity>

        <activity
            android:name=".GoldenBlueHourWidgetConfigureActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.DayLighter">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>

        </activity>

        <receiver
            android:name=".location.daynight.DayNightCycleWidgetPinnedReceiver"
            android:exported="false" />

        <receiver
            android:name=".location.daynight.DayNightCycleWidgetReceiver"
            android:exported="false"
            android:label="@string/day_night_cycle_widget_label">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/day_night_cycle_widget" />

        </receiver>

        <receiver
            android:name=".location.goldenblue.GoldenBlueHourWidgetPinnedReceiver"
            android:exported="false" />

        <receiver
            android:name=".location.goldenblue.GoldenBlueHourWidgetReceiver"
            android:exported="false"
            android:label="@string/golden_blue_hour_widget_label">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/golden_blue_hour_widget" />

        </receiver>
    </application>

</manifest>
